<div class="row ">
  <div class="col-md-8">
    <form [formGroup]="analyseForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="ingredients" class="form-label bigger">Enter the ingredients to analyse</label>
        <h6>Every ingradiant should be like <strong>"quantity<small>(number)</small>  food name, unit"</strong></h6>
        <div>
        </div>
        <textarea class="form-control" formControlName="ingredients" id="ingredients" rows="15" placeholder="Enter your ingredients here"></textarea>
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary"  [disabled]="!analyseForm.valid">Analyse</button>
      </div>
    </form>
  </div>
</div>